<div>
  <center>
    <img height="500 px"src = 'http://nerdist.com/wp-content/uploads/2016/02/Pokemon-Red-Blue.jpg'>
    <h1>Battle will begin shortly, enter thy name</h1>

    <form action="/names" method="post">
      <p>Player 1<input type="text" name="player1_name"></p>
      <p>Player 2 <input type="text" name="player2_name"></p>
      <input type="submit" value="Start fight">
    </form>

  </center>
</div>